# This file tells setuptools which non-Python files to include in the package.
#
recursive-include src *.css
recursive-include src *.js
recursive-include src *.md
recursive-include src *.html
recursive-include src *.png
recursive-include src *.svg
recursive-include src *.json
recursive-include src *.xml
recursive-include src *.sql
recursive-include src *.txt
recursive-include src *.jinja2
recursive-include src *.qml
recursive-include src/dynastore/extensions/static *